#map {
	height: 100%;
	width: 100%;
	position: absolute;
}
#pano {
  width: 200px;
  height: 200px;
}
html {
  background-color: black;
  margin: 0;
        padding: 0;

}
.container{
  width: 100%;
  height: 100%;
  background-color: black;
}
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    margin: 0;
        padding: 0;

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
.menuIcon {
  font-size: 30px;
  cursor: pointer;
  color: white;
}
#map {
  transition: margin-left .5s;
}
.topNav {
  position: sticky;
  padding-bottom: 10px;
}
.searchBox {
  float: right;
  padding-top: 13px;
}
h3 {
  color: white;
  text-align: center;
}
.text {
  color: white;
}
.marker-name {
  font-size: 20px;
  text-align: center s;
}
.infowindow {
  display: block;
  text-align: center;
  background-color: black;
}
.foursquareImg {
  width: 100%;
  height: 100%;
  text-align: center;
}
figure {
  margin-left: 10px;
  margin-right: 0;
}
label {
  color: white;
  font-size: 10px;
}
.filter {
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
